<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roads</title>
</head>
<body>
    <h1>Road Collection</h1>
    <ul>
        <% for (let road of roadCollection) {%>
            <li><%= road.title %></li>
        <% }%>
    </ul>


</body>
</html>