<% layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/stars.css">

    <div class="row">
        <h1 class="text-center">New Road</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/Roads" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

                <!-- input title -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="road[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                
                <!-- input location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="road[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <!-- <input type="file" name="image" id="" multiple> -->
                
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="road[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->

                <!-- input rating -->
                <div class="mb-3">
                    <!-- <label class="form-label" for="rating">Road Rating</label>
                    <div class="input-group">
                        <span class="input-group-text" id="rating-label"><i class="fas fa-star"></i></span>
                        <input type="number" class="form-control" id="rating" placeholder="0-5" aria-label="Rating" aria-describedby="rating-label" name="road[rating]" required> -->
                          <fieldset class="starability-basic">
                            <legend>Road Rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="road[rating]" value="0" checked aria-label="No rating." />
                            <input type="radio" id="second-rate1" name="road[rating]" value="1" />
                            <label for="second-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="second-rate2" name="road[rating]" value="2" />
                            <label for="second-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="second-rate3" name="road[rating]" value="3" />
                            <label for="second-rate3" title="Average">3 stars</label>
                            <input type="radio" id="second-rate4" name="road[rating]" value="4" />
                            <label for="second-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="second-rate5" name="road[rating]" value="5" />
                            <label for="second-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                <!-- input description -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="road[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                 <!-- input image url -->
                 <div class="input-group mb-3">
                    <label class="input-group-text text-muted" for="image">Upload Image(s) Here:</label>
                    <input type="file" class="form-control" id="image" name="image" multiple>
                  </div>
                  
                <div class="mb-3">
                   <button class="btn btn-success">Add Road</button>
                </div>
            </form>
            <a href="/Roads">List of all roads</a>
        </div>
    </div>
</div>

