<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <h1><%= road.title %></h1>
    <h2><%= road.location %></h2>

    <p>       
        <a href="/Roads/<%=road._id%>/edit">Edit</a>
    </p>

    <footer>
        <a href="/Roads">List of all roads</a>
    </footer>
</body>


</html>